
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="first">First Name</option>
			<option value="last">Last Name</option>
			<option value="extension">Extension</option>
        </select>

      </div>
	  <table>
  <tr>
  <th>IMG</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-Mail</th>
    <th>Phone Number</th>
  </tr>
  <tr ng-repeat="contact in contacts | filter:query | orderBy:orderProp" class="contact">
 <td> <a href="#/contacts/{{contact.id}}" class="thumb"><img ng-src="{{contact.imageUrl}}"></a></td>
    <td class='first'><a href="#/contacts/{{contact.id}}">{{contact.first}}</a></td>
    <td class='last'><a href="#/contacts/{{contact.id}}">{{contact.last}}</a></td>
    <td class='email'><a href="mailto:{{contact.first+'.'+contact.last+'@lambtoncollege.ca'
    }}">{{contact.first+'.'+contact.last+'@lambtoncollege.ca' }}</a></td>
    <td class='phone'>{{'519-542-7751 ext. ' + contact.extension
      }}</td>
  </tr>
</table>
     
    </div>
  </div>

